.color-card {
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    position: relative;
}

.color-card__headline {
    display: inline;
    padding: 4px 12px;
    background: #0003;
    border-radius: 999px;
    grid-column: 1 / -1;
    place-self: start;
}

.color-card__buttons {
    position: absolute;
    top: 12px;
    right: 12px;
}
.color-card__delete-button {
    place-self: end;
    justify-self: end;
}

.color-card__contrast-color {
    place-self: end;
    text-align: end;
}

.color-card__main-color {
    align-self: end;
}

.color-card__edit-container {
    position: relative;
}

.color-card__close-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.color-card__color-display {
    background: none;
    border: none;
    color: inherit;
    margin: -4px -8px;
    padding: 4px 8px;
    border-radius: 999px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
}

.color-card__color-display:hover {
    background: #0003;
}

.color-card__copy-message {
    position: absolute;
    inset: 0;
    background: #0003;
    display: flex;
    justify-content: center;
    align-items: center;
}
